*{
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    display: flex;
    width: 100%;
    background-color: #1b0f3f;
    height: 50px;
}
body {
    height: 100%;
    width: 100%;
    background-color: white;
}
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #1b0f3f;
    color: #ede7fd;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
h1 {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 4.5%;
    color: rgb(235, 184, 224);
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
a {
    color: #ede7fd;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 0.8;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img{
    width:100%;
    height: 100%;
}
#copyright {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#logo {
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    align-self: center;
    width: 24px;
    height: 24px;
}
.imgStudenti {
    vertical-align: central;
    display: block;
    height: 50%;
    width: 45%;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: -2%;
}
#divPrvi {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    width: 80%;
    margin-top: -9%;
    background-color: white;
    border-radius: 30px;
    border: 5px solid rgb(235, 184, 224);
}
#divRegiPrijava {
    width: 100%;
    background: linear-gradient(to bottom, #1b0f3f 0%, rgb(066, 040, 147) 100%);
    margin-top: -5%;
    height: 660px;
}
#divRegistracija {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    width: 80%;
    margin-top: -100px;
    background-color: white;
    border-radius: 30px;
    border: 5px solid rgb(235, 184, 224);
}
#RegistracijaPrijava{
    padding-top:10%;
}
.zvjezdica {
    position: relative;
    height: 100%;
    width: 5%;
    display: inline-block;
}
.elNavigacije {
    position:relative;
    height: 100%;
    width: 16%;
    display: inline-block;
}
.wrapperZvjezdice {
    width:100%;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.imgZvjezdica {
    display: block;
    opacity: 1.0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
}
.članak {
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(121,118,203);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    line-height: 160%;
    padding-bottom: 2%
}
.btnRegistracija {
    position: absolute;
    display: block;
    height: 130px;
    width: 50%;
    color: rgb(237, 239, 255);
    margin-top: 8%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 250%;
    font-family: 'Arial Rounded MT';
    background: linear-gradient(to bottom, #ff6699 0%, #993399 100%);
    box-shadow: 0px 5px 5px #4a1c33;
    border: hidden;
}
.imgBrojPet {
    position: absolute;
    display: block;
    height: 65%;
    width: 42%;
    padding-left: 1%;
}
.imgBrojDva {
    position: absolute;
    display: block;
    height: 65%;
    width: 42%;
    margin-left: 58%;
}
#lblPrijava {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-top: 4.5%;
    font-size: 80%;
    color: rgb(235, 184, 224);
    margin-top: 20%;
}
.btnPrijava {
    position: absolute;
    height: 25px;
    width: 7%;
    background: linear-gradient(to bottom, #ff6699 0%, #993399 100%);
    border: 1px solid rgb(237, 239, 255);
    color: rgb(237, 239, 255);
    border-radius: 7px;
    text-transform: uppercase;
    font-size: 50%;
    margin-left: 46.5%;
    margin-right: 46.5%;
    margin-top: 1%;
    font-family: 'Arial Rounded MT';
}