*{
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    display: flex;
    width: 100%;
    /*background-color: #5d4fa5;*/
    background-color: #1b0f3f;
    height: 30px;
}
body {
    height: 100%;
    width: 100%;
    background-color: white;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    vertical-align: middle;
}
p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
a {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    position: absolute;
    width: 100px;
    height: 10px;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -50px;
    opacity: 0.8;
}
img{
    width:100%;
    height: 100%;
}
#copyright{
    display: block;
    text-align:center;
    width:100%;
}
#logo {
    position: absolute;
    left:50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -12px;
    align-self: center;
    width: 24px;
    height: 24px;
}
#divPrvi {
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
    display: block;
    height: 300px;
    width: 80%;
    margin-top: -100px;
    background-color: white;
    border: 7px solid pink;
    border-radius: 30px;
}
.zvjezdica {
    position: relative;
    height: 100%;
    width: 5%;
    display: inline-block;
}
.elNavigacije {
    position:relative;
    height: 100%;
    width: 16%;
    display: inline-block;
}
.imgZvjezdica {
    opacity: 1.0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-left: -3px;
    margin-top: -3px;
}
