* {
    margin: 0;
    padding: 0;
}
#omotacKompleksni {
    position: absolute;
    overflow: hidden;
}
#naslovKompleksni {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 450%;
    margin-top: -1010px;
    margin-left: 180px;
    color: rgb(063, 039, 147);
}
#imgNavigacijaKompleksni {
    position: absolute;
    margin-top: -925px;
    margin-left: 175px;
    height: 60px;
    width: 300px;
}
#lnkLekcije {
    position: absolute;
    margin-top: -905px;
    margin-left: 180px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
    text-transform: capitalize;
    color: rgb(235, 184, 224);
    z-index: 1;
    width: 90px;
}
#lnkKompleksni {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: -905px;
    margin-left: 305px;
    font-size: 100%;
    text-transform: none;
    color: rgb(063, 039, 147);
    width: 150px;
    z-index: 2;
}
#imaginarnaJedinica {
    position: absolute;
    width: 560px;
    height: 200px;
    margin-top: -850px;
    margin-left: 180px;
    background-image: url("../Slike/NightSkyLong6.png");
}
#imaginarnaJedinica:hover {
    transition: transform .5s ease;
    transform: scale(1.03);
    overflow: hidden;
}
#kompleksnogBroja {
    position: absolute;
    width: 560px;
    height: 200px;
    margin-top: -850px;
    margin-left: 780px;
    background-image: url("../Slike/NightSkyLong2.png");
}
#kompleksnogBroja:hover {
    transition: transform .5s ease;
    transform: scale(1.03);
    overflow: hidden;
}
#operacije {
    position: absolute;
    width: 560px;
    height: 200px;
    margin-top: -620px;
    margin-left: 180px;
    background-image: url("../Slike/NightSkyLong5.png");
}
#operacije:hover {
    transition: transform .5s ease;
    transform: scale(1.03);
    overflow: hidden;
}
#trigonometrijskiOblik {
    position: absolute;
    width: 560px;
    height: 200px;
    margin-top: -620px;
    margin-left: 780px;
    background-image: url("../Slike/NightSkyLong4.png");
}
#trigonometrijskiOblik:hover {
    transition: transform .5s ease;
    transform: scale(1.03);
    overflow: hidden;
}
#eksponencijalniOblik {
    position: absolute;
    width: 560px;
    height: 200px;
    margin-top: -390px;
    margin-left: 180px;
    background-image: url("../Slike/NightSkyLong3.png");
}
#eksponencijalniOblik:hover {
    transition: transform .5s ease;
    transform: scale(1.03);
    overflow: hidden;
}
#zadaciKompleksni {
    position: absolute;
    width: 560px;
    height: 200px;
    margin-top: -390px;
    margin-left: 780px;
    background-image: url("../Slike/NightSkyLong1.png");
}
#zadaciKompleksni:hover {
    transition: transform .5s ease;
    transform: scale(1.03);
    overflow: hidden;
}
.prozirno {
    position: absolute;
    height: 200px;
    width: 260px;
    margin-left: 0px;
    background-color: rgba(255,255,255,0.3);
}
.nazivLekcije {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 170%;
    font-weight: bold;
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-top: 10px;
}
.btnPovratak {
    padding: 0;
    overflow: hidden;
    width: 160px;
    height: 50px;
    position: absolute;
    margin-top: -150px;
    margin-left: 180px;
    border-radius: 20px;
    border: none;
    background-color: rebeccapurple;
    color: white;
    text-transform: uppercase;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 120%;
}
.lnkManjaCjelina {
    margin-left: 0px;
    filter: contrast(130%) saturate(110%);
}
#footerKompleksni {
    position: absolute;
    overflow: hidden;
    margin-bottom: -440px;
}
